<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematics</title>
</head>
<body>
    <h1>This page will contain Math Articles</h1>
    <p><a href="/">Home Page</a></p>
    <p><a href="/subjects">Subjects Page</a></p>
    <p><a href="/about">About Us</a></p>
    <h3>Article 1: Why Math is a good subject?</h3>
    <h5>Because Math is the only subject that is independent of dimensions as it teaches us 1 + 1 = 2</h5>
    <a href="{{url_for('download_file')}}"><button type="button" class="btn btn-primary">Export Notes</button></a>
</body>
</html>