<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biology</title>
</head>
<body>
    <h1>This page will contain Biology Articles</h1>
    <p><a href="/">Home Page</a></p>
    <p><a href="/subjects">Subjects Page</a></p>
    <p><a href="/about">About Us</a></p>
    <p><a href="/bio/bio_art_1">Article 1: Cell Division</a></p>
    <p><a href="/bio_art_1">Article 2: What is Evolution?</a></p>
</body>
</html>