<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>This is About Us Page</h1>
    <p><a href="/"><button type="button" class="btn btn-primary">Home Page</button></a></p>
    <p><a href="/subjects"><button type="button" class="btn btn-primary">Subjects Page</button></a></p>
    <h3>Who are we?</h3>
    <h5>We are we! not them</h5>
</body>
</html>