<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biology</title>
</head>
<body>
    <h1>This page will contain Biology Articles</h1>
    <p><a href="/">Home Page</a></p>
    <p><a href="/subjects">Subjects Page</a></p>
    <p><a href="/about">About Us</a></p>
    <h3>Article 1: Why Bio is a good subject?</h3>
    <h5>Cuz Bio teaches us Evolution.</h5>
    <h3>Article 2: What is Evolution?</h3>
    <h5>Ask Darwin!</h5>
</body>
</html>